<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.piorderapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PIOrderApp"
        tools:targetApi="31">
        <activity
            android:name=".salesman.PIOrderedCheckout"
            android:exported="false" />
        <activity
            android:name=".salesman.PIAddOrderForm"
            android:exported="false" />
        <activity
            android:name=".salesman.PICreateOrder"
            android:exported="false" />
        <activity
            android:name=".admin.PIShowCustomers"
            android:exported="false" />
        <activity
            android:name=".admin.PIEditCustomer"
            android:exported="false" />
        <activity
            android:name=".admin.PIAddCustomerForm"
            android:exported="false" />
        <activity
            android:name=".admin.PIEditProduct"
            android:exported="false" />
        <activity
            android:name=".admin.PIShowProducts"
            android:exported="false" />
        <activity
            android:name=".admin.PIAddProductForm"
            android:exported="false" />
        <activity
            android:name=".admin.PIEditCompany"
            android:exported="false" />
        <activity
            android:name=".admin.PIShowCompanies"
            android:exported="false" />
        <activity
            android:name=".admin.PIAddCompanyForm"
            android:exported="false" />
        <activity
            android:name=".admin.PIEditGroups"
            android:exported="false" />
        <activity
            android:name=".admin.PIShowGroups"
            android:exported="false" />
        <activity
            android:name=".admin.PIAddGroupForm"
            android:exported="false" />
        <activity
            android:name=".admin.PIOrders"
            android:exported="false" />
        <activity
            android:name=".admin.PICustomers"
            android:exported="false" />
        <activity
            android:name=".admin.PIProducts"
            android:exported="false" />
        <activity
            android:name=".admin.PICompanies"
            android:exported="false" />
        <activity
            android:name=".admin.PIGroup"
            android:exported="false" />
        <activity
            android:name=".admin.PIEditUsers"
            android:exported="false" />
        <activity
            android:name=".admin.PIShowUsers"
            android:exported="false" />
        <activity
            android:name=".admin.PIAddUserForm"
            android:exported="false" />
        <activity
            android:name=".admin.PIUser"
            android:exported="false" />
        <activity
            android:name=".operator.PIOperatorDashboard"
            android:exported="false" />
        <activity
            android:name=".salesman.PISalesmanDashboard"
            android:exported="false" />
        <activity
            android:name=".admin.PIAdminDashboard"
            android:exported="false" />
        <activity
            android:name=".PILoginScreen"
            android:exported="false" />
        <activity
            android:name=".PISplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>